@page "/list_view"

<div class="row-layout list-view-container">
    <div class="column-layout group">
        <div class="row-layout group_1">
            <div class="row-layout group_2">
                <span class="material-icons icon">
                    assignment
                </span>
                <h6 class="h6">
                    To do
                </h6>
            </div>
            <IgbAvatar Initials="3" Shape="AvatarShape.Circle" class="avatar" list_view-scope></IgbAvatar>
        </div>
        <IgbList class="list" list_view-scope>
            <IgbListItem>
                <IgbAvatar Src="assets/Avatar2.png" slot="start" Shape="AvatarShape.Circle" class="avatar_1" list_view-scope></IgbAvatar>
                <div slot="title">Create brand guidelines</div>
                <div slot="subtitle">Deadline: Nov 19, 2021</div>
                <span slot="end" class="material-icons icon_1">
                    attach_file
                </span>
            </IgbListItem>
            <IgbListItem>
                <IgbAvatar Src="assets/Avatar6.png" slot="start" Shape="AvatarShape.Circle" class="avatar_2" list_view-scope></IgbAvatar>
                <div slot="title">App Preview</div>
                <div slot="subtitle">Deadline: Nov 24, 2021</div>
                <span slot="end" class="material-icons icon_1">
                    attach_file
                </span>
            </IgbListItem>
            <IgbListItem>
                <IgbAvatar Src="assets/Avatar9.png" slot="start" Shape="AvatarShape.Circle" class="avatar_3" list_view-scope></IgbAvatar>
                <div slot="title">Cloud Integration</div>
                <div slot="subtitle">Deadline: Nov 28, 2021</div>
            </IgbListItem>
        </IgbList>
    </div>
    <div class="column-layout group">
        <div class="row-layout group_3">
            <div class="row-layout group_2">
                <span class="material-icons icon">
                    developer_board
                </span>
                <h6 class="h6">
                    In Development
                </h6>
            </div>
            <IgbAvatar Initials="5" Shape="AvatarShape.Circle" class="avatar_4" list_view-scope></IgbAvatar>
        </div>
        <IgbList class="list" list_view-scope>
            <IgbListItem>
                <IgbAvatar Src="assets/Avatar6.png" slot="start" Shape="AvatarShape.Circle" class="avatar_5" list_view-scope></IgbAvatar>
                <div slot="title">Connect to DataSources</div>
                <div slot="subtitle">Deadline: Oct 28, 2021</div>
            </IgbListItem>
            <IgbListItem>
                <IgbAvatar Src="assets/Avatar3.png" slot="start" Shape="AvatarShape.Circle" class="avatar_6" list_view-scope></IgbAvatar>
                <div slot="title">Build App</div>
                <div slot="subtitle">Deadline: Oct 28, 2021</div>
                <span slot="end" class="material-icons icon_1">
                    attach_file
                </span>
            </IgbListItem>
            <IgbListItem>
                <IgbAvatar Src="assets/Avatar5.png" slot="start" Shape="AvatarShape.Circle" class="avatar_7" list_view-scope></IgbAvatar>
                <div slot="title">Copy-Paste Update</div>
                <div slot="subtitle">Deadline: Oct 24, 2021</div>
            </IgbListItem>
            <IgbListItem>
                <IgbAvatar Src="assets/Avatar2.png" slot="start" Shape="AvatarShape.Circle" class="avatar_8" list_view-scope></IgbAvatar>
                <div slot="title">Grid Data-Binding </div>
                <div slot="subtitle">Deadline: Oct 26, 2021</div>
            </IgbListItem>
            <IgbListItem>
                <IgbAvatar Src="assets/Avatar10.png" slot="start" Shape="AvatarShape.Circle" class="avatar_9" list_view-scope></IgbAvatar>
                <div slot="title">Main Dashboard Design</div>
                <div slot="subtitle">Deadline: Oct 20, 2021</div>
            </IgbListItem>
        </IgbList>
    </div>
    <div class="column-layout group">
        <div class="row-layout group_4">
            <div class="row-layout group_2">
                <span class="material-icons icon">
                    assignment_late
                </span>
                <h6 class="h6">
                    Validation
                </h6>
            </div>
            <IgbAvatar Initials="4" Shape="AvatarShape.Circle" class="avatar_10" list_view-scope></IgbAvatar>
        </div>
        <IgbList class="list" list_view-scope>
            <IgbListItem>
                <IgbAvatar Src="assets/Avatar7.png" slot="start" Shape="AvatarShape.Circle" class="avatar_11" list_view-scope></IgbAvatar>
                <div slot="title">Update Samples</div>
                <div slot="subtitle">Deadline: Oct 15, 2021</div>
                <span slot="end" class="material-icons icon_1">
                    attach_file
                </span>
            </IgbListItem>
            <IgbListItem>
                <IgbAvatar Src="assets/Avatar6.png" slot="start" Shape="AvatarShape.Circle" class="avatar_12" list_view-scope></IgbAvatar>
                <div slot="title">Floating Toolbar</div>
                <div slot="subtitle">Deadline: Oct 14, 2021</div>
            </IgbListItem>
            <IgbListItem>
                <IgbAvatar Src="assets/Avatar9.png" slot="start" Shape="AvatarShape.Circle" class="avatar_13" list_view-scope></IgbAvatar>
                <div slot="title">Input Update</div>
                <div slot="subtitle">Deadline: Oct 17, 2021</div>
                <span slot="end" class="material-icons icon_1">
                    attach_file
                </span>
            </IgbListItem>
            <IgbListItem>
                <IgbAvatar Src="assets/Avatar3.png" slot="start" Shape="AvatarShape.Circle" class="avatar_14" list_view-scope></IgbAvatar>
                <div slot="title">App Library</div>
                <div slot="subtitle">Deadline: Oct 16, 2021</div>
                <span slot="end" class="material-icons icon_1">
                    attach_file
                </span>
            </IgbListItem>
        </IgbList>
    </div>
    <div class="column-layout group">
        <div class="row-layout group_5">
            <div class="row-layout group_2">
                <span class="material-icons icon">
                    check_circle
                </span>
                <h6 class="h6">
                    Done
                </h6>
            </div>
            <IgbAvatar Initials="5" Shape="AvatarShape.Circle" class="avatar_15" list_view-scope></IgbAvatar>
        </div>
        <IgbList class="list" list_view-scope>
            <IgbListItem>
                <IgbAvatar Src="assets/Avatar8.png" slot="start" Shape="AvatarShape.Circle" class="avatar_16" list_view-scope></IgbAvatar>
                <div slot="title">Onboarding Experience</div>
                <div slot="subtitle">October 13, 2021</div>
            </IgbListItem>
            <IgbListItem>
                <IgbAvatar Src="assets/Avatar2.png" slot="start" Shape="AvatarShape.Circle" class="avatar_17" list_view-scope></IgbAvatar>
                <div slot="title">Design Specs</div>
                <div slot="subtitle">October 9, 2021</div>
            </IgbListItem>
            <IgbListItem>
                <IgbAvatar Src="assets/Avatar10.png" slot="start" Shape="AvatarShape.Circle" class="avatar_18" list_view-scope></IgbAvatar>
                <div slot="title">File Parser</div>
                <div slot="subtitle">October 10, 2021</div>
                <span slot="end" class="material-icons icon_1">
                    attach_file
                </span>
            </IgbListItem>
            <IgbListItem>
                <IgbAvatar Src="assets/Avatar2.png" slot="start" Shape="AvatarShape.Circle" class="avatar_19" list_view-scope></IgbAvatar>
                <div slot="title">Final Mockups</div>
                <div slot="subtitle">Deadline: Oct 14, 2021</div>
            </IgbListItem>
            <IgbListItem>
                <IgbAvatar Src="assets/Avatar5.png" slot="start" Shape="AvatarShape.Circle" class="avatar_20" list_view-scope></IgbAvatar>
                <div slot="title">GitHub Integration</div>
                <div slot="subtitle">September 30, 2021</div>
                <span slot="end" class="material-icons icon_1">
                    attach_file
                </span>
            </IgbListItem>
        </IgbList>
    </div>
    <IgbDialog CloseOnOutsideClick="true" @ref="_newTaskDialog2">
        <h5 slot="title">
            Add New Task
        </h5>
        <div class="column-layout group_6">
            <IgbInput Label="Task Title" Outlined="false" class="input" list_view-scope></IgbInput>
            <div class="row-layout group_7">
                <IgbSelect Outlined="false" Label="Project" Placeholder="Pick a project" class="select" list_view-scope>
                    <span slot="prefix">
                        <span class="material-icons icon_2">
                            assignment
                        </span>
                    </span>
                    <IgbSelectItem Value="Option">
                        Fintech Project
                    </IgbSelectItem>
                    <IgbSelectItem Value="Option">
                        DataViz Project
                    </IgbSelectItem>
                    <IgbSelectItem Value="Option">
                        Onboarding Project
                    </IgbSelectItem>
                    <IgbSelectItem Value="Option">
                        AppBuilder Project
                    </IgbSelectItem>
                </IgbSelect>
                <IgbSelect Outlined="false" Label="Status" Placeholder="Set Status" class="select_1" list_view-scope>
                    <span slot="prefix">
                        <span class="material-icons icon_2">
                            schedule
                        </span>
                    </span>
                    <IgbSelectItem Value="Option">
                        To Do
                    </IgbSelectItem>
                    <IgbSelectItem Value="Option">
                        In Development
                    </IgbSelectItem>
                    <IgbSelectItem Value="Option">
                        Validation
                    </IgbSelectItem>
                    <IgbSelectItem Value="Option">
                        Done
                    </IgbSelectItem>
                </IgbSelect>
            </div>
        </div>
        <div slot="footer">
            <IgbButton Size="SizableComponentSize.Large" @onclick="@(e => _newTaskDialog2!.ToggleAsync())" class="button" list_view-scope>
                Create Task
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
    </IgbDialog>
    <IgbButton Variant="ButtonVariant.Fab" Size="SizableComponentSize.Large" @onclick="@(e => _newTaskDialog2!.ToggleAsync())" class="button_1 button_1_1" list_view-scope>
        <span class="material-icons icon_3">
            add
        </span>
        <IgbRipple></IgbRipple>
    </IgbButton>
</div>

@code {
    private IgbDialog _newTaskDialog2;
}
